<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
  <configuration>
    <appSettings>
      <add key="SenderToEmail" value="phcompeau@gmail.com"/>
    </appSettings>
      <system.web>
      <compilation debug="true" targetFramework="4.0"/>

      <httpRuntime/>
    </system.web>
    <system.net>
      <mailSettings>
        <smtp>
          <network defaultCredentials="false" host="email-smtp.us-east-1.amazonaws.com" password="As/1Z0fetCwH0/fzARLX0IewH4r/4fBCYHf0L6eyDQKO" port="587" userName="AKIAID7JC3VKWFQMT75Q"/>
        </smtp>
      </mailSettings>
    </system.net>
    <system.webServer>
      <rewrite>
        <rules>
        <!-- Force www subdomain (sierra still works because IIS catches the request before it gets here) -->
          <!-- Add this when site is ready to go!-->
          <rule name="Permanent Site Redirect" stopProcessing="true">
    <match url="^$" />
    <action type="Redirect" url="https://www.bioinformaticsalgorithms.org/" redirectType="Permanent" />
</rule>
        <!-- images redirection
        <rule name="301 Redirect images" stopProcessing="true">
        <match url="^images/(.*)" />
        <action type="Redirect" url="https://github.com/phcompeau/bioinformatics-algorithms-images/blob/master/images/{R:1}?raw=true" redirectType="Permanent" />
        </rule>
    -->
          <rule name="301 Redirect index.php" stopProcessing="true">
          <match url="index.php" />
          <action type="Redirect" url="https://www.bioinformaticsalgorithms.org/" redirectType="Permanent" />
          </rule>
          <rule name="301 Redirect index.html" stopProcessing="true">
          <match url="index.htm" />
          <action type="Redirect" url="https://www.bioinformaticsalgorithms.org/" redirectType="Permanent" />
          </rule>
         <rule name="301 Redirect Author Page" stopProcessing="true">
         <match url="about-the-author.htm" />
         <action type="Redirect" url="https://www.bioinformaticsalgorithms.org/authors" redirectType="Permanent" />
         </rule>
         <rule name="301 Redirect Contents" stopProcessing="true">
         <match url="contents.htm" />
         <action type="Redirect" url="https://www.bioinformaticsalgorithms.org/read-the-book" redirectType="Permanent" />
         </rule>
         <rule name="301 Redirect Contact" stopProcessing="true">
         <match url="contact.htm" />
         <action type="Redirect" url="https://www.bioinformaticsalgorithms.org/contact" redirectType="Permanent" />
         </rule>
         <rule name="301 Buy the Book" stopProcessing="true">
         <match url="contact.htm" />
         <action type="Redirect" url="https://www.bioinformaticsalgorithms.org/copy-of-authors" redirectType="Permanent" />
         </rule>
         <rule name="301 Videos" stopProcessing="true">
         <match url="videos.htm" />
         <action type="Redirect" url="https://www.bioinformaticsalgorithms.org/lecture-videos" redirectType="Permanent" />
         </rule>
          <rule name="301 Redirect FAQs Homepage" stopProcessing="true">
          <match url="faqs.htm" />
          <action type="Redirect" url="https://www.bioinformaticsalgorithms.org/faq-home" redirectType="Permanent" />
            </rule>
          <rule name="301 Redirect FAQs Replication" stopProcessing="true">
          <match url="faqs/replication.html" />
          <action type="Redirect" url="https://www.bioinformaticsalgorithms.org/faq-chapter-1" redirectType="Permanent" />
        </rule>
        <rule name="301 Redirect FAQs Motifs" stopProcessing="true">
        <match url="faqs/motifs.html" />
        <action type="Redirect" url="https://www.bioinformaticsalgorithms.org/faq-chapter-2" redirectType="Permanent" />
        </rule>
        <rule name="301 Redirect FAQs Assembly" stopProcessing="true">
        <match url="faqs/assembly.html" />
        <action type="Redirect" url="https://www.bioinformaticsalgorithms.org/faq-chapter-3" redirectType="Permanent" />
        </rule>
        <rule name="301 Redirect FAQs Antibiotics" stopProcessing="true">
        <match url="faqs/antibiotics.html" />
        <action type="Redirect" url="https://www.bioinformaticsalgorithms.org/faq-chapter-4" redirectType="Permanent" />
        </rule>
        <rule name="301 Redirect FAQs Alignment" stopProcessing="true">
        <match url="faqs/alignment.html" />
        <action type="Redirect" url="https://www.bioinformaticsalgorithms.org/faq-chapter-5" redirectType="Permanent" />
        </rule>
        <rule name="301 Redirect FAQs Rearrangements" stopProcessing="true">
        <match url="faqs/rearrangements.html" />
        <action type="Redirect" url="https://www.bioinformaticsalgorithms.org/faq-chapter-6" redirectType="Permanent" />
        </rule>
        <rule name="301 Redirect FAQs Evolutionary Trees" stopProcessing="true">
        <match url="faqs/evolution.html" />
        <action type="Redirect" url="https://www.bioinformaticsalgorithms.org/faq-chapter-7" redirectType="Permanent" />
        </rule>
        <rule name="301 Redirect FAQs Clustering" stopProcessing="true">
        <match url="faqs/clustering.html" />
        <action type="Redirect" url="https://www.bioinformaticsalgorithms.org/faq-chapter-8" redirectType="Permanent" />
        </rule>
        <rule name="301 Redirect FAQs Read Mapping" stopProcessing="true">
        <match url="faqs/bwt.html" />
        <action type="Redirect" url="https://www.bioinformaticsalgorithms.org/faq-chapter-9" redirectType="Permanent" />
        </rule>
        <rule name="301 Redirect FAQs HMMs" stopProcessing="true">
        <match url="faqs/hmm.html" />
        <action type="Redirect" url="https://www.bioinformaticsalgorithms.org/faq-chapter-10" redirectType="Permanent" />
        </rule>
        <rule name="301 Redirect FAQs Proteomics" stopProcessing="true">
        <match url="faqs/proteomics.html" />
        <action type="Redirect" url="https://www.bioinformaticsalgorithms.org/faq-chapter-11" redirectType="Permanent" />
        </rule>
        <rule name="301 Redirect FAQs WGS-WES" stopProcessing="true">
        <match url="faqs/wgs-wes.html" />
        <action type="Redirect" url="https://www.bioinformaticsalgorithms.org/faq-application-challenges" redirectType="Permanent" />
        </rule>
        <rule name="301 Redirect FAQs Sequencing" stopProcessing="true">
        <match url="faqs/sequencing.html" />
        <action type="Redirect" url="https://www.bioinformaticsalgorithms.org/faq-application-challenges" redirectType="Permanent" />
        </rule>
        <rule name="301 Redirect FAQs RNA-Sequencing" stopProcessing="true">
        <match url="faqs/rna-seq.html" />
        <action type="Redirect" url="https://www.bioinformaticsalgorithms.org/faq-application-challenges" redirectType="Permanent" />
        </rule>
        </rules>
      </rewrite>
    </system.webServer>
  </configuration>
